<div class="container-fluid mt-2">
    <h3 class="my-3">
        <i class="bi bi-check-circle me-2"></i>
        Registered sports
    </h3>
    <p>Registrations below have been approved by the sport administrators and paid. Unregistration must be approved by the TIP administration team.</p>

    <div class="d-flex flex-wrap">
        @for (sport of registeredSports; track sport.sportInfo.type) {
            <app-sport-card [sport]="sport"></app-sport-card>
        } @empty {
            <p>You are not registered to any sports.</p>
        }
    </div>

    @if (pendingApproval.length > 0) {
        <h3 class="my-3">
            <i class="bi bi-clock me-2"></i>
            Registrations pending approval
        </h3>
        <p>Registrations below have not yet been approved by the sport admninistrators. No action is required from you for now; once it is approved, you will be able to do the payment. </p>
        <div class="d-flex flex-wrap">
            @for (sport of pendingApproval; track sport.sportInfo.type) {
                <app-sport-card [sport]="sport"></app-sport-card>
            }
        </div>
    }

    @if (awaitingPayment.length > 0) {
        <h3 class="my-3">
            <i class="bi bi-wallet2 me-2"></i>
            Registrations awaiting payment
        </h3>
        <p>Registrations below have been approved by the sport admninistrators and are waiting for your payment.</p>
        <div class="d-flex flex-wrap">
            @for (sport of awaitingPayment; track sport.sportInfo.type) {
                <app-sport-card [sport]="sport"></app-sport-card>
            }
        </div>
    }

    @if (canceledOrRefused.length > 0) {
        <h3 class="my-3">
            <i class="bi bi-ban me-2"></i>
            Cancelled registrations
        </h3>
        <p>Registrations below have been cancelled by either you or the sport administrators.</p>
        <div class="d-flex flex-wrap">
            @for (sport of canceledOrRefused; track sport.sportInfo.type) {
                <app-sport-card [sport]="sport"></app-sport-card>
            }
        </div>
    }


    <div class="text-center my-3">
        <button type="button" (click)="addSport()" class="btn btn-primary btn-lg">Register new sport</button>
    </div>

</div>
