<div class="card text-bg-primary m-3">
    <div class="card-header">
        <h3>Sports</h3>
    </div>
    <div class="card-body d-flex flex-column">
        @if (sports().length > 0) {
            <p class="card-text">You are registered for the following sports:</p>
            <ul class="list-group">
                @for (sport of sports(); track sport) {
                    <li class="list-group-item list-group-item-primary">{{ sport }}</li>
                } 
            </ul>
            <div class="d-flex flex-row-reverse mt-2">
                <a routerLink="/registrations" class="btn btn-dark">More info</a>
            </div>
        } @else {
            <p class="card-text">You are not registered to any sports.</p>
            <div class="d-flex flex-row-reverse mt-2">
                <a routerLink="/registrations" class="btn btn-dark">Register</a>
            </div>
        }        
    </div>
</div>